*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain light";
}

html,body{
    width: 100%;
    height: 100%;
}
#cursor{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    /* background-color: white; */
    border: 1px solid #ffffffbe;
    position: fixed;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:999;
    background: #0B0B0B;
    padding: 25vh 10vw;
}
.line{
    /* background-color: red; */
    height: fit-content;
    /* margin-bottom: 5px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3vw;
}
.line1-part1{
    align-items: center;
    display: flex;
    justify-content: center;
    gap:1vw;
}
.line1-part1 h5, .line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
}
.line1-part1 h5{
    text-align: right;
    width: 4vw;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    text-transform: uppercase;
    font-size: 5vw;
    font-weight: 900;
    /* animation-name: anime; */
    opacity: 0;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity:1;
    }
    47%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #fff;
        color:#fff;
        font-weight: 500;
        opacity:0;
    }
    50%{
        font-family: "silkserif";
        -webkit-text-stroke: 1px #fff;
        color:transparent;
        font-weight: 500;
        opacity:1;
    }
    100%{
        font-family: "silkserif";
        -webkit-text-stroke: 1px #fff;
        color:transparent;
        font-weight: 500;
        opacity:0;
    }
}



#main{
    position: relative;
    background-color: #030303;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
#page1 #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 5.5vw;
}
#nav-part2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}
#nav-part2 h4{
    font-size: 1.2vw;
    font-weight: 500;
}
#hero{
    /* background-color: red; */
    width: 72%;
    margin-left: 27%;
}
#hero:nth-child(2){
    margin-top: 17vh;
}
#hero h1{
    font-size: 7.3vw;
    text-transform: uppercase;
    line-height: 7.2vw;
}
